<h2>This is the feature 3</h2>
<nav style="border: 2px solid black; padding: 1rem; background-color: lightgreen">
  <a [routerLink]="['./feature31']">Feature 3-1</a>
  <a [routerLink]="['./feature32']">Feature 3-2</a>
</nav>

<br>
<table>
  <tr>
    <td style="width: 50%;vertical-align: top;padding: 20px;border: solid 0.1em black" >
      <p>Item list</p>
      <ul>
        <li><a
          [routerLink]="['./feature33', 'feature3', {outlets: {'primary-info': ['feature331',1], 'secondary-info': ['feature332',1], 'extra-info': null}}]">Get
          detail (1)</a>
        </li>
        <li><a
          [routerLink]="['./feature33', 'feature3', {outlets: {'primary-info': ['feature331',2], 'secondary-info': ['feature332',2], 'extra-info': null}}]">Get
          detail (2)</a>
        </li>
        <li><a
          [routerLink]="['./feature33', 'feature3', {outlets: {'primary-info': ['feature331',3], 'secondary-info': ['feature332',3], 'extra-info':['feature333',3]}}]">Get
          detail (3)</a>
        </li>
      </ul>
    </td>
    <td style="padding: 20px;">&nbsp;
      <router-outlet></router-outlet>
    </td>
  </tr>
</table>



